<h1 style="font-weight: 600; margin: 30px 0 50px 0; text-align: center;">Welcome to freshbooks!</h1>
<p>You're just one click away from getting started with freshbooks. All you need to do is verify your
email address to activate your freshbooks account.</p>
<a href="http://localhost:4200/auth/verify"
class="ctaButton"
style="padding: 10px; width: 300px; display: block; text-decoration: none; border: 1px solid #ffffff; font-weight: 700; font-size: 14px; font-family: 'Open Sans', sans-serif; color: #fff; background: #2563eb; border-radius: 5px; line-height: 17px; margin: 0 auto; text-align: center;">Confirm
My Email</a>
<p>Once your account is activated, you can start using all of freshbooks's features to organize, purchase,
    and share your books.</p>
<p>You're receiving this email because you recently created a new freshbooks account. If this wasn't you, please ignore this email.</p>